<%layout('layout/boilerplate') %>
<h1 class="mx-4 mt-4">Register</h1>
<form action="/register" class="needs-validation mx-4" novalidate method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">username </label>
    <input type="text" name="username" id="username" class="form-control" required />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email </label>
    <input type="text" name="email" id="email" class="form-control" required />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">password </label>
    <input type="password" name="password" id="password" class="form-control" required />
  </div>
  <button class="btn btn-primary mb-3">login</button>
</form>
